# dependencies
node_modules/

# expo
.expo/
dist/
web-build/

# production
build/

# misc
.DS_Store
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# supabase
.supabase/

# typescript
tsconfig.tsbuildinfo
